<%- include('../../partials/header') %>
<div class="container d-flex justify-content-center mt-5">
  <h2 class="text-dark fs-1 text-center">পেইজ খুঁজে পাওয়া যায় নি</h2>
</div>
<%- include('../../partials/footer') %>
