<%- include('../../partials/header') %>
<div class="container d-flex justify-content-center mt-5">
  <h2 class="text-dark fs-1 text-center">
    সার্ভারে কিছু সমস্যা হয়েছে। একটু পরে আবার চেষ্টা করুন।
  </h2>
</div>
<%- include('../../partials/footer') %>
