@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/HindSiliguri-Bold.woff2") format("woff2"),
    url("/fonts/HindSiliguri-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/HindSiliguri-Light.woff2") format("woff2"),
    url("/fonts/HindSiliguri-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/HindSiliguri-Medium.woff2") format("woff2"),
    url("/fonts/HindSiliguri-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/HindSiliguri-Regular.woff2") format("woff2"),
    url("/fonts/HindSiliguri-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/HindSiliguri-SemiBold.woff2") format("woff2"),
    url("/fonts/HindSiliguri-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Hind Siliguri", sans-serif;
}
